extend layout

block content
    h2= team.name + "   " + team.nickname 
    hr
    .d-flex.justify-content-around
        img(src="/sec.jpeg" alt="sec")
        img(src=team.teamLogo alt=team.nickname)
        img(src="/sec_football.jpeg" alt="sec")
    hr
    h3= team.location
    h3= "Stadium: " + team.stadium + " (Capacity: " + team.capacity + ")"
    h4= "Mascot: " + team.mascot
    hr
    h5= "Division Titles"
    h5= team.dTitles
    hr
    h5= "Conference Titles"
    h5= team.cTitles
    hr
    h5= "National Titles Claimed"
    h5= team.nTitles
